<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Some of what we do.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business Intelligence</h4>
                    <p class="text-muted">Reports, dashboards, charts, and graphs. If you need information from your systems then we can pull it. Specialties: PHP, MySQL, PostgreSQL. </p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Amazon Web Services</h4>
                    <p class="text-muted">Moving your servers to the cloud? We can do that. We can handle all the networking, security, server setup, and databases. You just need to tell us when.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Linux</h4>
                    <p class="text-muted">We can setup linux servers in a snap, and make existing one more secure. SSH, command line, bash, and cron? Check.</p>
                </div>
            </div>
        </div>
    </section>